*       text=auto
*.bat   text eol=crlf
*.c     text eol=crlf
*.cpp   text eol=crlf
*.cxx   text eol=crlf
*.cc    text eol=crlf
*.hpp   text eol=crlf
*.h     text eol=crlf
*.hxx   text eol=crlf
*.inl   text eol=crlf
*.fx    text eol=crlf
*.hlsl  text eol=crlf
*.hlsii	text eol=crlf
